{% extends 'base.html.twig' %}

{% block title %}Picom-Inscription{% endblock %}


{% block body %}

    <h1>Inscription</h1>
{#    création du formulaire avec la méthode form de twig et on y injecte le form créer dnas le constructeur #}
    {{ form(form) }}

{% endblock %}
